.el-upload__tip {
	display: inline;
	margin-left: 10px;
}
.disNone {
	display: none;
}

/*针对弹层上面的下拉选框大小*/
.el-dialog .el-select {
	width: 100%;
}

.text-center {
	text-align: center;
}
.text-red {
	color: #c00;
}
