.el-upload__tip {
	display: inline;
	margin-left: 10px;
}
.disNone {
	display: none;
}

/*针对弹层上面的下拉选框大小*/
.el-dialog .el-select {
	width: 100%;
}
.el-textarea__inner {
	font-family: "微软雅黑";
	font-size: 13px;
}

.text-center {
	text-align: center;
}
.text-red {
	color: #c00;
}
.mt30 {
	margin-top: 30px;
}
